cellpose
cupy-cuda11x
dask[complete]
scikit-image
scikit-learn
imagecodecs
opencv-python-headless
scipy
numpy
matplotlib
seaborn
trimesh
multiprocess
tiler
connected-components-3d
edt
tqdm
scikit-fmm
czifile
